  <ul>
    <li>Nome: {{costumer.name}}</li>
    <li>Cognome: {{costumer.surname}}</li>
    <li>Address: {{costumer.address}}</li>
    <li>City: {{costumer.city}}</li>
    <li>Company: {{costumer.company}}</li>
    <li>Phone: {{costumer.phone}}</li>
    <li>Email: {{costumer.email}}</li>
  </ul>
<button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
  + Inserisci Nuova Fattura
</button>
<div class="modal" id="exampleModal" tabindex="-1">
  <div class="modal-dialog text-center">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nuova fattura</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container text-center p-5 mt-5 rounded">
          <div class="row justify-content-center">
            <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
              {{errorMessage}}
            </div>
            <form #form="ngForm" (ngSubmit)="onsubmit(form)">
              <div class="form-group mb-2">
                <label for="importo">Importo</label>
                <input ngModel name="importo" class="form-control" type="number" id="importo"
                  ngModel />
              </div>
              <div class="form-group mb-2">
                <textarea ngModel for="description" placeholder="Dettagli Fattura" name="description" class="form-control" id="description"></textarea>
              </div>
              <button type="submit" data-bs-dismiss="modal" [disabled]="isLoading" class="btn btn-primary">Salva Fattura
                <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
      </div>
    </div>
  </div>
</div>

<ul>
  <li *ngFor="let fattura of fatture">Fattura n°: {{fattura.id}}, importo €: {{fattura.importo}}, Descrizione: {{fattura.description}}</li>
</ul>
