<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nome</th>
        <th scope="col">Cognome</th>
        <th scope="col">Città</th>
        <th scope="col">Indirizzo</th>
        <th scope="col">Company</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let costumer of costumers">
        <td>{{costumer.id}}</td>
        <td>{{costumer.name}}</td>
        <td>{{costumer.surname}}</td>
        <td>{{costumer.city}}</td>
        <td>{{costumer.address}}</td>
        <td>{{costumer.company}}</td>
        <td>{{costumer.phone}}</td>
        <td>{{costumer.email}}</td>
        <td><button [routerLink]="['/modifica-cliente']" class="btn btn-success">Modifica</button></td>
        <td><button class="btn btn-danger">Elimina</button></td>
      </tr>
    </tbody>
  </table>
