<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nome</th>
        <th scope="col">Cognome</th>
        <th scope="col">Città</th>
        <th scope="col">Indirizzo</th>
        <th scope="col">Company</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let costumer of costumers; let i = index">
        <td>{{costumer.id}}</td>
        <td>{{costumer.name}}</td>
        <td>{{costumer.surname}}</td>
        <td>{{costumer.city}}</td>
        <td>{{costumer.address}}</td>
        <td>{{costumer.company}}</td>
        <td>{{costumer.phone}}</td>
        <td>{{costumer.email}}</td>
        <td><button class="btn btn-primary" [routerLink]="['/detail', costumer.id]">Dettagli Fatture</button></td>
        <td><button class="btn btn-success" [routerLink]="['/edit', costumer.id]">Modifica</button></td>
        <td><button class="btn btn-danger" (click)="onRemCostumer(costumer.id, i)">Elimina</button></td>
      </tr>
    </tbody>
  </table>

